div(class="card mb-4 shadow-sm")
	div(class="card-top")
		h3(class="card-top-title") Tools
		hr(class="hr")
	div(class="card-bottom")
		div(class="row")
			//- TODO
			//- EC-94 Adjustments after demo
			//- [4, 3, 5], [6, 7]
			each item, index in [[0, 1, 2], [4, 3, 5]]
				each toolIndex, toolIndexIndex in item
					div(class="col-md-4 col-sm-6 card-bottom-item")
							- var siteTool = config.siteTools[toolIndex];
								div(class="float-left icon-container")
									img(src="/img/icons/" + siteTool.image + ".svg")

								span(class="font-weight-bold")
									a(href=siteTool.url) #{siteTool.name}
								br
								p #{siteTool.desc}