extends layout

block headContent
	title Block ##{result.getblock.height.toLocaleString()}, #{result.getblock.hash}

block content
	h1(class="page-title") Block 
		span(style="width: 100%;", class="text-md") ##{result.getblock.height.toLocaleString()}
		br
		span(style="width: 100%; word-break: break-all;", class="text-md", data-test-id="blockHash") #{result.getblock.hash}

	include includes/block-content.pug