extends layout

block headContent
	title Richest Wallets

block content
	h1(class="page-title") Richest Wallets

	if (richestWallets)
		div(class="card shadow-sm", style="margin-bottom: 42px;")
			div(class="card-bottom", style="margin-top: 24px;")
				div(class="row")
					div(class="table-responsive")
						table(class="table mb-0 blocks-table")
							thead
								tr
									th(class="data-header") Address
									th(class="data-header") Amount
									th(class="data-header") Percentage of total

							tbody
								each wallet, walletIndex in richestWallets
									if (wallet)
										tr
											td(class="data-cell")
												a(href=("/address/" + wallet.address)) #{wallet.address}

											td(class="data-cell") #{wallet.amount}
											
											td(class="data-cell") #{wallet.percentage_of_total}

	else
		p No wallets found