.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #a1a3a6;
}

nav.navbar {
  -webkit-box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.2);
}

.search-input {
  padding: 7px 16px 8px;
  border-radius: 16px;
  border: solid 1px rgba(151, 151, 151, 0.4);
  background-color: #ffffff;
  width: 189px;
  height: 32px;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder,
.search-input::-ms-input-placeholder {
  color: #a1a3a6;
}

.page-title {
  font-size: 30px;
  padding-top: 44px;
  margin-bottom: 32px;
}

.card-top-title {
  font-size: 16px;
  letter-spacing: 0.27px;
  color: #000;
  margin: 0;
}

.card-top {
  padding: 24px 24px 24px 24px;
}

.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 8px;
}

.hr {
  background: #e4a416;
  height: 1px;
  margin: 0;
  margin-top: 16px;
}

.card-bottom {
  margin: 0px 24px 5px 24px;
}

.card-bottom p {
  overflow: hidden;
  font-weight: 300;
}

.page-footer {
  height: 90px;
  -webkit-box-shadow: 0px -2px 16px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -2px 16px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 16px -4px rgba(0, 0, 0, 0.2);
  padding-top: 24px;
}

.page-footer a,
.page-footer a:hover {
  color: #000;
}

a {
  color: #e4a416;
  letter-spacing: 0.23px;
}

a:hover {
  color: #c28c13;
  text-decoration: none;
}

.page-body {
  padding-bottom: 44px;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.lead {
  font-size: 20px;
}

p {
  margin-bottom: 0px;
}

.icon-container {
  height: 100%;
  width: 40px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

.card-bottom-item {
  margin-bottom: 19px;
}

.progress-bar {
  background-color: #e4a416;
}

.progress {
  background-color: #a1a3a6;
}

.transaction-stats-table tr td,
.transaction-stats-table tr th {
  text-align: left;
}

.page-item.active .page-link {
  background-color: #e4a416;
  border: 0px;
  font-weight: 500;
}

.page-item {
  height: 32px;
}

.pagination {
  margin-bottom: 50px;
}

.pagination .page-item .page-link {
  color: #e4a416;
  font-weight: 500;
}

.pagination .page-item.active .page-link {
  color: #fff;
}

.block-buttons-container {
  margin-bottom: 32px;
}

.block-buttons-container .page-link {
  color: #000;
  font-weight: 500;
}

.blocks-table td {
  font-weight: 300;
}

.blocks-table a {
  font-weight: 500;
}

.bg-primary {
  background-color: #e4a416 !important;
}

.miner-label {
  font-size: 14px;
  font-weight: 500;
  padding: 1px 8px 2px 8px;
}

.card-menu {
  border: none;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.text-md {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.33px;
}

.nav-tabs {
  border: 0px;
}

.nav-tabs .nav-item {
  margin: 0px;
}

.tabs-item {
  background-color: #fff;
}

.tabs-item:nth-child(1) {
  border-top-left-radius: 4px;
}
.tabs-item:nth-child(2) {
  border-top-right-radius: 4px;
}

.tabs-item a {
  padding: 6.8px 15px;
  color: #a1a3a6;
  font-size: 16px;
  background: #fff;
}

.tabs-item a.active {
  color: black;
  padding: 10px 15px;
  -webkit-box-shadow: 2px 0px 5px -12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 5px -12px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px -12px rgba(0, 0, 0, 0.1);
}

.summary-split-table-content a {
  color: #047aff;
}

.blue-link {
  color: #047aff;
}

.btn-group a {
  border: 1px solid #e4a416;
  background-color: #fff;
  color: #e4a416;
  font-weight: 500;
  padding: 3px 8px;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #e4a416;
  color: #fff;
  border: 1px solid #e4a416;
}

.btn-primary:not(:disabled):not(.disabled):focus {
  background-color: #e4a416;
  color: #fff;
  border: 1px solid #e4a416;
}

.nav-pills .nav-link {
  border-radius: 4px;
  font-weight: 500;
  padding: 4px 8px 3px 8px;
}

.nav-pills .nav-link.active {
  background-color: #e4a416;
  color: #fff;
  border: 1px solid #e4a416;
}

.hljs-literal,
.hljs-number,
.hljs-string,
.hljs {
  padding: 0px;
  color: #000;
}

pre code {
  font-size: 14px;
}

.transaction-stats-table tbody tr {
  font-weight: 300;
}

dt {
  font-weight: 600;
}

dd {
  font-weight: 300;
}

.input-group {
  width: auto;
}

.settings-icon {
  width: 24px;
  height: 24px;
  margin-left: 32px;
}

@media only screen and (min-width: 1921px) {
  .page-body {
    background-image: url("/img/images/background@3x.png");
  }
}

@media only screen and (max-width: 1920px) {
  .page-body {
    background-image: url("/img/images/background@2x.png");
  }
}

@media only screen and (max-width: 1024px) {
  .page-body {
    background-image: url("/img/images/background.png");
  }
}

@media only screen and (max-width: 991px) {
  .settings-icon {
    margin-top: 0.5rem;
    margin-left: 0px;
  }
}

@media (max-width: 376px) {
  .pagination-wrap .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 377px) {
  .pagination-wrap .page-link {
    padding: 0.35rem 0.75rem;
    font-size: 0.91rem;
  }
}

@media (min-width: 576px) {
  .pagination-wrap .page-link {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
  }
}

@media (min-width: 1200px) {
  .pagination-wrap .page-link {
    padding: 0.52rem 1.05rem;
    font-size: 1rem;
  }
}
